# Data Science Tools and Ecosystem

Introduction:

In this notebook, Data Science Tools and Ecosystem are summarized.

Data science languages:
Some of the popular languages that Data Scientists use are:
1. R
2. julia
3. Scala

Data science Libraries:
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas

Data Science tools:
| Data Science tools |
|--------------------|
| Data Visualization |
| Development Environments |
| Model Deployment |

# Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
result=(3*4)+5
print( result)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
Minutes=200
hours=Minutes/60
print(hours)

3.3333333333333335

**Objectives**
* Data science Libraries
* Data science tools
* Data science Languages

#  Author
Muhammad Aarish Ayaz